@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.ref-box {
    transition: opacity 0.1s ease, bottom 0.1s ease, width 0.3s ease, width 0.3s ease;
    animation: fade-in 0.1s ease-in-out;
}

.ref-info {
    display: none;
}

.ref-box:hover {
    transition: opacity 0.1s ease, bottom 0.1s ease, width 0.3s ease, width 0.3s ease;
    animation: fade-in 0.1s ease-in-out;
}

.ref-box:hover .ref-info {
    display: block;
}

.ref-box:hover .ref-icon {
    display: none;
}